Package: com.noisyflake.nolspowerdown
Name: NoLSPowerDown
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Prevents shutdown on lockscreen
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.nolspowerdown
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
